<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <div class="container">Covid-19</div>
  </a>
</nav>
<div class="container">
  <div *ngIf="dataformated" class="row">
    <div *ngFor="let ciudad of dataformated" class="col">
      <div class="card m-4" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ ciudad.cityName }}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Muertes: {{ ciudad.deaths }}</li>
          <li class="list-group-item">recuperados: {{ ciudad.recovered }}</li>
          <li class="list-group-item">confirmados: {{ ciudad.confirmed }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
