<nav class="navbar navbar-dark bg-primary">
  <div class="container">
    <h1 class="navbar-brand" href="#">Covid-19</h1>
  </div>
</nav>

<div class="container mt-3 mb-5">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h5>Ingrese el pais y la fecha</h5>
        </div>
        <div class="card-body">
          <div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="exampleInputEmail1">Pais</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Ingrese el pais"
                    list="countries"
                    [(ngModel)]="country"
                    (ngModelChange)="countryChanged($event)"
                  />
                  <datalist id="countries">
                    <option
                      *ngFor="let country of countries"
                      value="{{ country }}"
                    ></option>
                  </datalist>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="date-picker">Ingrese el dia</label>
                  <div class="input-group">
                    <input
                      class="form-control"
                      placeholder="aaaa-mm-dd"
                      name="dp"
                      [(ngModel)]="today"
                      (ngModelChange)="dateChanged($event)"
                      ngbDatepicker
                      #d="ngbDatepicker"
                    />
                    <div class="input-group-append">
                      <button
                        class="btn btn-outline-secondary calendar"
                        (click)="d.toggle()"
                        type="button"
                      ></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mb-4">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="chart">
            <ngx-charts-bar-vertical
              [view]="view"
              [scheme]="colorScheme"
              [results]="dataChart"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              [showDataLabel]="true"
              [legendTitle]="'leyenda'"
              (select)="onclickChart($event)"
            >
            </ngx-charts-bar-vertical>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
